<header class="site-header">
    <div class="site-header-item">
        <a class="site-header-logo" href="/">
            <img src="/static/logo.png" alt="logo">
            <span>FeelGood</span>
            </a>
    </div>
     <div class="site-header-item">
        <a href="/p/new" class="button button-outlined">สร้างโพสใหม่</a>
    </div>
</header>


        
    