<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | '}}
<body>
    {{> siteHeader}}
    <div class="section">
        <div class="container">
        <h2>สร้างโพสต์สำเร็จ</h2>
        <p>โพสต์ใหม่จะปรากฏที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้น</p>
        <a class="button" href="/">กลับไปที่หน้าแรก</a>
    </div>
    </div>
    {{> siteFooter}}
</body>